<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button fill="clear" (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Hráči do soupisky</ion-title>
        <ion-buttons slot="end">
            <ion-spinner *ngIf="inProgress>0"></ion-spinner>
            <ion-button (click)="openSearchPlayer(true)">
                <ion-icon slot="start" name="search"></ion-icon>
                <span class="medium-display">Vyhledat v týmech</span>
            </ion-button>
            <ion-button (click)="playerDetail()">
                <ion-icon slot="start" name="person-add"></ion-icon>
                <span class="medium-display">Vytvořit hráče</span>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="showSearchBar">
        <ion-searchbar animated [(ngModel)]="search"></ion-searchbar>
        <ion-list>
            <ion-item *ngIf="playerProvider.data.length == 0">
                <ion-spinner></ion-spinner>
            </ion-item>
            <ion-item *ngIf="search.length < 3 && playerProvider.data.length > 0">
                <ion-note>prohledej celou Evidenci, zadej alespoň 3 znaky</ion-note>
            </ion-item>
            <div *ngIf="search.length > 2">
                <ion-item *ngFor="let player of playerProvider.data|search:search">
                    <ion-label>{{player.last_name}} {{player.first_name}}
                        <ion-note>{{player|playerAtTeam}}</ion-note>
                    </ion-label>
                    <ion-checkbox [(ngModel)]="player_at_roster[player.id]" (ionChange)="rosterChanged($event,player)"></ion-checkbox>
                </ion-item>
            </div>
        </ion-list>
    </div>

    <div *ngIf="!showSearchBar">
        <ion-segment [(ngModel)]="active" margin-bottom="" color="danger">
            <ion-segment-button [value]="1">
                Aktivní tuto sezonu
            </ion-segment-button>
            <ion-segment-button [value]="0">všichni</ion-segment-button>
        </ion-segment>
        <ion-segment [(ngModel)]="sex">
            <ion-segment-button [value]="null">všichni</ion-segment-button>
            <ion-segment-button [value]="'female'">
                <ion-icon name="female"></ion-icon>
            </ion-segment-button>
            <ion-segment-button [value]="'male'">
                <ion-icon name="male"></ion-icon>
            </ion-segment-button>
        </ion-segment>
        <ion-item *ngFor="let player of players|sex:sex|order:['last_name']|active:activePlayers:active">
            <ion-label *ngIf="player">{{player.last_name}} {{player.first_name}}</ion-label>
            <ion-checkbox *ngIf="player" [(ngModel)]="player_at_roster[player.id]" (ionChange)="rosterChanged($event,player)"></ion-checkbox>
        </ion-item>
    </div>
</ion-content>

<ion-footer *ngIf="showSearchBar">
    <ion-toolbar>
        <ion-button expand="full" (click)="openSearchPlayer(false)">Zpět na hráče týmu</ion-button>
    </ion-toolbar>
</ion-footer>
