<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Uživatelé</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openEditUser()" *ngIf="auth.user.isAdmin()">
                <ion-icon name="add-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list *ngIf="userProvider.data.length > 0">
        <ion-item detail (click)="openEditUser(user)" *ngFor="let user of userProvider.data|order:['login']">{{user.login}}</ion-item>
    </ion-list>
</ion-content>
