<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button *ngIf="!auth.isAnonymous()"></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Sezony</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="addItem()" *ngIf="auth.user.isAdmin()">
                <ion-icon slot="start" name="add-circle"></ion-icon>
                <span class="medium-display">Přidat sezónu</span>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list lines="true">
        <ion-item detail *ngFor="let season of seasonProvider.data|order:['-name']" href='/seasons/{{season.id}}'>
            <ion-label>
                {{season.name}}
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
