<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button fill="clear" (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="data">{{data.last_name}} {{data.first_name}}</ion-title>
        <ion-title *ngIf="!data">Nový hráč</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="history()">
                <ion-icon slot="start" name="book"></ion-icon>
                <span class="medium-display">Historie hráče</span>
            </ion-button>
            <ion-button (click)="save()" [disabled]="!form.valid">
                <ion-icon slot="start" name="save"></ion-icon>
                <span class="medium-display">Uložit</span>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form">
        <ion-grid>
            <ion-row *ngIf="!data">
                <ion-col>
                    Nejdříve si důkladně ověř, zda zadávaný hráč již v Evidenci neexistuje pomoci Vyhledávání hráče v zadávání soupisek
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="stacked">Jméno *</ion-label>
                        <ion-input type="text" formControlName="first_name"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="stacked">Příjmení *</ion-label>
                        <ion-input type="text" formControlName="last_name"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="stacked">Datum narození *</ion-label>
                        <ion-datetime display-format="DD.MM YYYY" formControlName="birth_date"></ion-datetime>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-radio-group formControlName="sex">
                        <ion-list-header>
                            Pohlaví *
                        </ion-list-header>
                        <ion-item>
                            <ion-label>muž</ion-label>
                            <ion-radio value="male"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>žena</ion-label>
                            <ion-radio value="female"></ion-radio>
                        </ion-item>
                    </ion-radio-group>
                </ion-col>
            </ion-row>
            <!--<ion-row>-->
                <!--<ion-col size="12">-->
                    <!--<ion-item>-->
                        <!--<ion-label position="stacked">E-mail</ion-label>-->
                        <!--<ion-input type="email" formControlName="email"></ion-input>-->
                    <!--</ion-item>-->
                <!--</ion-col>-->
            <!--</ion-row>-->
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="stacked">Státní příslušnost *</ion-label>
                        <ion-select formControlName="nationality_id">
                            <ion-select-option *ngFor="let nationality of nationalityProvider.data"
                                               value="{{nationality.id}}">{{nationality.name}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-list-header>
                Adresa
            </ion-list-header>
            <ion-row>
                <ion-col size="12" sizeSm="6">
                    <ion-item>
                        <ion-label position="stacked">Stát *</ion-label>
                        <ion-select formControlName="country">
                            <ion-select-option *ngFor="let nationality of nationalityProvider.data"
                                               value="{{nationality.country_name}}">{{nationality.country_name}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col size="12" sizeSm="6">
                    <ion-item>
                        <ion-label position="stacked">Typ adresy *</ion-label>
                        <ion-select formControlName="type">
                            <ion-select-option selected="true" value="residence in czechia">Občan ČR</ion-select-option>
                            <ion-select-option value="permanent residence">Trvalý pobyt</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" sizeMd="5">
                    <ion-item>
                        <ion-label position="stacked">Město *</ion-label>
                        <ion-input formControlName="city" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6" sizeMd="5">
                    <ion-item>
                        <ion-label position="stacked">Část obce</ion-label>
                        <ion-input formControlName="district" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6" sizeMd="2">
                    <ion-item>
                        <ion-label position="stacked">PSČ *</ion-label>
                        <ion-input formControlName="zip_code" type="number"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" sizeSm="6">
                    <ion-item>
                        <ion-label position="stacked">Ulice</ion-label>
                        <ion-input formControlName="street" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6" sizeSm="3">
                    <ion-item>
                        <ion-label position="stacked">Číslo popisné *</ion-label>
                        <ion-input formControlName="descriptive_number" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="6" sizeSm="3">
                    <ion-item>
                        <ion-label position="stacked">Číslo orientační</ion-label>
                        <ion-input formControlName="orientation_number" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

    <ion-card *ngIf="auth.user.isAdmin() && data">
        <ion-card-header>Přestup hráče</ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col size="12" sizeMd="6">
                    <ion-item>
                        <ion-label position="stacked">Oddíl</ion-label>
                        <ion-select [(ngModel)]="transfer_team">
                            <ion-select-option [selected]="team.id == t.id" *ngFor="let t of teamProvider.data|order:['name']" [value]="t">{{t.name}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col size="12" sizeMd="6">
                    <ion-item>
                        <ion-label position="stacked">K sezoně</ion-label>
                        <ion-select [(ngModel)]="transfer_season">
                            <ion-select-option *ngFor="let t of seasonProvider.data|order:['-name']" [value]="t">{{t.name}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button [disabled]="!transfer_season || (transfer_team == team)" expand="full" size="small" color='success'
                                (click)="transfer()">Provést přestup
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="auth.user.isAdmin() && data">
        <ion-card-header>Odpuštění poplatku</ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label>Sezona</ion-label>
                <ion-select [(ngModel)]="pardon_fee_season">
                    <ion-select-option [selected]="seasonProvider.data[0]" [value]="season" *ngFor="let season of seasonProvider.data">{{season.name}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
            <ion-row>
                <ion-col>
                    <ion-button expand="full" size="small" color='success' (click)="pardonFee()">Odpustit</ion-button>
                </ion-col>
                <!--<ion-col>-->
                <!--<ion-button expand="full" size="small" color='danger' (click)="revokePardonFee()">Zrušit odpustek</ion-button>-->
                <!--</ion-col>-->
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>
