<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button fill="clear" (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
                <span class="medium-display">Na seznam týmů</span>
            </ion-button>
        </ion-buttons>
        <ion-title>{{roster.team_name}}</ion-title>
        <ion-buttons slot="end">
            <ion-button color="danger" *ngIf="canEditRoster()" slot="start" (click)="removeRoster()">
                <ion-icon name="trash" slot="start"></ion-icon>
                <span class="medium-display">Smazat soupisku</span>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button (click)="openAddPlayers()" expand="full" shape="round" *ngIf="canEditRoster()">
        <ion-icon slot="start" name="create"></ion-icon>
        Upravit soupisku
    </ion-button>
    <div *ngIf="auth.user.isTeamAdmin(tournament.organizing_team_id)">
        <ion-button (click)="finalize()" *ngIf="roster.finalized == '0'" color="warning" shape="round" expand="full">
            Uzamknout soupisku
            <ion-icon name="lock" slot="start"></ion-icon>
        </ion-button>
        <ion-button (click)="finalize()" *ngIf="roster.finalized == '1'" color="danger" shape="round" expand="full">
            Odemknout soupisku
            <ion-icon name="unlock" slot="start"></ion-icon>
        </ion-button>
    </div>
    <ion-list>
        <ion-list-header>
            <ion-label>Ženy</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let player of players|order:['last_name']|filter:'sex':'female'">{{player.last_name}} {{player.first_name}}</ion-item>
        <ion-list-header>
            <ion-label>Muži</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let player of players|order:['last_name']|filter:'sex':'male'">{{player.last_name}} {{player.first_name}}</ion-item>
    </ion-list>
</ion-content>
