<ion-header>
    <ion-toolbar>
        <ion-title>Přihlášení</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="form" (keydown)="keyDownFunction($event)">
        <ion-list>
            <ion-item>
                <ion-label [position]="'stacked'">Uživatelské jméno</ion-label>
                <ion-input formControlName="login" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label [position]="'stacked'">Heslo</ion-label>
                <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Automaticky přihlašovat</ion-label>
                <ion-toggle formControlName='remember'></ion-toggle>
             </ion-item>
        </ion-list>
        <ion-button expand="full" size="large" large (click)="submit()">Přihlásit</ion-button>

        <ion-img margin-top src="./assets/logo.png"></ion-img>
    </form>
    <ion-note>
        Toto je Evidenční systém České asociace létajícího disku. Pro přístup do aplikace kontaktujte Sportovně technickou komisi na emailu evidence@cald.cz.
    </ion-note>
</ion-content>

<ion-footer>
    <ion-toolbar text-center>
        kontakt: evidence@cald.cz
    </ion-toolbar>
</ion-footer>
