<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button fill="clear" (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="user">{{user.login}}</ion-title>
        <ion-title *ngIf="!user">Nový uživatel</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="save()" *ngIf="canEditUser()">
                <ion-icon slot="start" name="save"></ion-icon>
                <span class="medium-display">Uložit</span>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="stacked">login</ion-label>
                        <ion-input formControlName="login"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="stacked">email</ion-label>
                        <ion-input type="email" formControlName="email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="user && auth.user.isAdmin()">
                <ion-col>
                    <ion-item>
                        <ion-label position="stacked">Týmy</ion-label>
                        <ion-select formControlName="privileges" multiple>
                            <ion-select-option [value]="team.id" *ngFor="let team of teamProvider.data|order:['name']">
                                {{team.name}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>

                </ion-col>
            </ion-row>
            <ion-row *ngIf="canEditUser()">
                <ion-col>
                    <ion-item>
                        <ion-label position="stacked">heslo (delší než 6 znaků)</ion-label>
                        <ion-input type="password" formControlName="password"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
