<ion-app>
    <ion-split-pane>
        <ion-menu type="overlay" side="start" [hidden]="!auth.isLogged()">
            <ion-header>
                <ion-toolbar>
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>

            <ion-content>
                <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                    <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                        <ion-icon slot="start" [name]="p.icon"></ion-icon>
                        <ion-label>
                            {{p.title}}
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-content>
            <ion-footer>
                <ion-button expand='full' color='danger' (click)="logout()">
                    <ion-icon name="exit" slot="start"></ion-icon>
                    Odhlásit</ion-button>
            </ion-footer>

        </ion-menu>

        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>