<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Týmy</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openEditTeam()" *ngIf="auth.user.isAdmin()">
                <ion-icon name="add-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item href="/teams/{{team.id}}" detail *ngFor="let team of teamsProvider.data|order:['name']">{{team.name}}</ion-item>
    </ion-list>
</ion-content>
