<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="data">Turnaj</ion-title>
        <ion-buttons slot="end">
            <ion-button *ngIf="auth.user.isAdmin()" (click)="editItem()">
                <ion-icon slot="start" name="create"></ion-icon>
                <span class="medium-display">Upravit turnaj</span>
            </ion-button>
            <ion-button *ngIf="canAddRoster()" (click)="showDivisionPicker()" color="success">
                <ion-icon slot="start" name="person-add"></ion-icon>
                <span class="medium-display">Přidat tým</span>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">
    <ion-card>
        <ion-card-subtitle padding-start padding-top>
            {{data.name}}
        </ion-card-subtitle>

        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-icon slot="start" name="calendar"></ion-icon>
                    {{data.date|date:"mediumDate"}}
                </ion-item>
                <ion-item>
                    <ion-icon slot='start' name="map"></ion-icon>
                    {{data.location}}
                </ion-item>
                <ion-item *ngIf="data.organizing_team_id">
                    <ion-icon slot='start' name="build"></ion-icon>
                    <span>{{data.organizing_team_id|team|async}}</span>
                </ion-item>
                <ion-item [hidden]="!data.divisions">
                    <ion-icon slot='start' name="people"></ion-icon>
                    <span>{{data.divisions|implode:'name'}}</span>
                </ion-item>
                <ion-item>
                    <ion-icon slot="start" name="people"></ion-icon>
                    Celkem týmů/hráčů: {{rosters.length}}/{{players_total}}
                </ion-item>
            </ion-list>
            <!--<ion-button (click)="getPDF()">Generuj PDF soupisky</ion-button>-->
        </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let ld of data.ld">
        <ion-card-subtitle padding-start padding-top>
            {{ld.division_id|division|async}}
        </ion-card-subtitle>
        <ion-card-content>
            <ion-list>
                <ion-item (click)="rosterDetail(r)" detail
                          *ngFor="let r of rosters|order:['team_name']|filter:'tournament_belongs_to_league_and_division_id':ld.id">
                    {{(r.team_id|team)|async}} ({{r.player_at_roster.length}})
                    <ion-icon slot="start" name="lock" *ngIf="r.finalized == '1'"></ion-icon>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
