<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1>Evidence v.3</h1>

    <h1>Blízké turnaje</h1>
    <ion-button *ngFor="let t of tournaments" [href]="'seasons/'+t.season_id+'/'+t.id" shape="round">{{t.name}}</ion-button>

    <div *ngIf='showFee()'>
        <h2>Poplatky za sezónu</h2>
        <p *ngIf="fee_for_season">Poplatek za sezonu {{season_for_fee.name}}: <b>{{fee_for_season.amount}} Kč</b></p>
        <p>Kliknutím na tlačítko <b>Instrukce pro tým --název týmu--</b> nabídne ke stažení PDF s instrukcemi ke platbě.</p>
        <p>Bez zaplacených příspěvků za rok 2020 se nebude možné účastnit turnajů sezony 2021</p>
        <p>V seznamu jsou všichni členové vašeho Oddílu, kteří tuto sezonu hráli alespoň jeden ligový turnaj</p>
        <p>Pokud některý hráč hrál pouze za jiný Oddíl, požádejte na email <b>evidence@cald.cz</b> o provedení Přestupu hráče k jinému oddílu. Pokud již druhý
            oddíl poplatky uhradil, vyrovnejte se prosím mezi sebou.</p>
        <div *ngFor="let team of teams|order:['name']" style='margin-top: 1em;'>
            <ion-button (click)='getFee(team)'>Instrukce pro tým {{team.name}}</ion-button>
        </div>
    </div>

    <ion-card *ngIf="authProvider.user">
        <ion-card-header>Rejstřík sportu</ion-card-header>
        <ion-card-content>
            <ion-list lines="none">
                <ion-item *ngIf="authProvider.user.teams().length===0">žádné týmy</ion-item>
                <ion-item detail *ngFor='let teamId of authProvider.user.teams()' (click)="exportService.rejstrikSportu(teamId)">
                    Export týmových dat do csv: {{teamId|team|async}}
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>Co je nového (8.2.2021)</ion-card-header>
        <ion-card-content>
            <ion-list lines="none">
                <ion-item>Úprava exportu do Rejstříku sportu na nový formát národnosti (ISO kody).</ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>Co je nového (6.11.2020)</ion-card-header>
        <ion-card-content>
            <ion-list lines="none">
                <ion-item>Aktualizace souboru pro Rejstřík sportu, protože v NSA se baví tím, že každého půl roku mění požadovanou strukturu importovaných dat</ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>Co je nového (11.3.2020)</ion-card-header>
        <ion-card-content>
            <ion-list lines="none">
                <ion-item>Oprava chyby s ukládáním hráče na mobilních telefonech (circular structure json birth_date error)</ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>Co je nového (26.9.2019)</ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>Zadávání rodných čísel namísto adres</ion-item>
                <ion-item>Zadání IČO Oddílu</ion-item>
                <ion-item>Snažší zadávání data narození na PC</ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
