<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button fill="clear" (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Upravit tým</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="save()">
                <ion-icon slot="start" name="save"></ion-icon>
                <span class="medium-display">Uložit</span>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label [position]="'stacked'">Název</ion-label>
                        <ion-input [disabled]="!auth.user.isAdmin()" formControlName="name" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label [position]="'stacked'">Město</ion-label>
                        <ion-input formControlName="city" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label [position]="'stacked'">IČO</ion-label>
                        <ion-input formControlName="identification_number" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label [position]="'stacked'">WWW</ion-label>
                        <ion-input formControlName="www" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label [position]="'stacked'">Založeno</ion-label>
                        <ion-datetime display-format="DD.MM YYYY" formControlName="founded_at"></ion-datetime>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

    <div *ngIf="users">
        <ion-list-header>Správci týmu</ion-list-header>
        <ion-list>
            <ion-item *ngFor="let user of users" [hidden]="user.privilege == 'admin'">{{user.user.login}}, {{user.user.email}}</ion-item>
        </ion-list>
    </div>
</ion-content>
