// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-spinner {
  margin: auto;
}

form {
  ion-input.ng-invalid {
    border-bottom: 1px solid var(--ion-color-warning);
    &.ion-touched {
      border-bottom: 1px solid var(--ion-color-danger);
    }
  }
}