<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Export dat</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label position="stacked">
            Vyber sezonu
        </ion-label>
        <ion-select [(ngModel)]="seasonToExport">
            <ion-select-option *ngFor="let season of seasonService.data" [value]="season">{{season.name}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>
            Přidat název oddílu
        </ion-label>
        <ion-checkbox [(ngModel)]="team"></ion-checkbox>
    </ion-item>
    <ion-button (click)="export()" [disabled]="!seasonToExport" expand="full">Rejstřík sportu</ion-button>
</ion-content>
